include ./headers.pug
+headers('Sorry', ['/css/login.css'], [])
header.banner_top
    | Oops
.container
  .login_box
    | Seems you tried to get somewhere we can't find!

footer.banner
    | Property of Grant Johnston