include ./headers.pug
+headers('Signed up', ['/css/login.css'], [])
header.banner
    | Welcome!
.container
  .login_box
    | Your account has been created.
    a(href="/login" target="_blank") Login in here

footer.banner
    | Property of Grant Johnston