include ./headers.pug
+headers('Logout', ['/css/login.css'], [])
header.banner_top
    | Oops
.container
  .login_box
    | Sorry something went wrong when creating your account. 
    a(href="/signup") Please try again

footer.banner
    | Property of Grant Johnston