include ./headers.pug
+headers('Logout', ['/css/login.css'], [])
header.banner_top
    | Goodbye
.container
  .login_box
    | You have been logged out of Everything Music. Hope to see you again soon

footer.banner
    | Property of Grant Johnston